.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.spectrumControls {
  min-width: 700px;
  margin: 100px auto;
  position: relative;
}

.hint {
  color: #f49;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 1.8rem;
  line-height: 2.15rem;
  margin-bottom: 0.25rem;
}
