.Slider {
  height: 300px;
  width: 50px;
  float: left;
  margin-right: 2px;
}

.SliderBody {
  background-color: #2a282a;
  transition: background 0.1s;
  border: black 1px solid;
  width: 40px;
  height: 300px;
  position: relative;
  left: 5px;
  cursor: grab;
}

.Pink {
  background: #ff4499;
}

.Sparkling {
  background: #b3dbac;
}
