.Slider {
  height: 300px;
  width: 50px;
  float: left;
  margin-right: 2px;
}

.SliderBody {
  background-color: #2a282a;
  border: black 1px solid;
  width: 40px;
  height: 300px;
  position: relative;
  left: 5px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.LevelMeter {
  background-color: #ff4499;
  transition: height 0.08s;
}